In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

pd.set_option('display.max_rows', 80)
pd.set_option('display.width', 1920)
pd.set_option('display.float_format', '{:20,.2f}'.format)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
np.random.seed(42)
plt.rcParams['figure.dpi'] = 150

In [2]:
df = pd.read_csv('./newyork.csv', sep=';', low_memory=False)

In [3]:
newyork = df.copy()
df = df[['Host Since', 'Host Listings Count', 'Host Total Listings Count', 'Calculated host listings count', 
'Latitude', 'Longitude', 
'Property Type', 'Room Type', 'Bed Type', 'Accommodates', 'Bathrooms', 'Bedrooms', 'Beds', 
'Price', 'Weekly Price', 'Monthly Price', 'Security Deposit', 'Cleaning Fee', 'Guests Included', 'Extra People',
'Minimum Nights', 'Maximum Nights', 
'Number of Reviews', 'First Review', 'Last Review', 'Reviews per Month', 'Review Scores Rating', 'Cancellation Policy']]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19528 entries, 0 to 19527
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Host Since                      19419 non-null  object
 1   Host Listings Count             19419 non-null  float64
 2   Host Total Listings Count       19419 non-null  float64
 3   Calculated host listings count  19528 non-null  float64
 4   Latitude                        19528 non-null  float64
 5   Longitude                       19528 non-null  float64
 6   Property Type                   19528 non-null  object
 7   Room Type                       19528 non-null  object
 8   Bed Type                        19528 non-null  object
 9   Accommodates                    19528 non-null  float64
 10  Bathrooms                       19454 non-null  float64
 11  Bedrooms                        19501 non-null  float64
 12  Beds                            19483 non-null  float64
 13  Price                           19384 non-null  float64
 14  Weekly Price                    2251 non-null   float64
 15  Monthly Price                   3201 non-null   float64
 16  Security Deposit                8150 non-null   float64
 17  Cleaning Fee                    13685 non-null  float64
 18  Guests Included                 19528 non-null  float64
 19  Extra People                    19528 non-null  float64
 20  Minimum Nights                  19528 non-null  float64
 21  Maximum Nights                  19528 non-null  float64
 22  Number of Reviews               19528 non-null  float64
 23  First Review                    15131 non-null  object
 24  Last Review                     15187 non-null  object
 25  Reviews per Month               15131 non-null  float64
 26  Review Scores Rating            14808 non-null  float64
 27  Cancellation Policy             19528 non-null  object
dtypes: float64(21), object(7)
memory usage: 4.2+ MB

In [5]:
df.isnull().sum()

Host Since                          109
Host Listings Count                 109
Host Total Listings Count           109
Calculated host listings count        0
Latitude                              0
Longitude                             0
Property Type                         0
Room Type                             0
Bed Type                              0
Accommodates                          0
Bathrooms                            74
Bedrooms                             27
Beds                                 45
Price                               144
Weekly Price                      17277
Monthly Price                     16327
Security Deposit                  11378
Cleaning Fee                       5843
Guests Included                       0
Extra People                          0
Minimum Nights                        0
Maximum Nights                        0
Number of Reviews                     0
First Review                       4397
Last Review                        4341
Reviews per Month                  4397
Review Scores Rating               4720
Cancellation Policy                   0
dtype: int64

In [6]:
df.dropna(subset=['Host Since', 'Price', 'Review Scores Rating'], inplace=True)

In [7]:
df.isnull().sum()

Host Since                            0
Host Listings Count                   0
Host Total Listings Count             0
Calculated host listings count        0
Latitude                              0
Longitude                             0
Property Type                         0
Room Type                             0
Bed Type                              0
Accommodates                          0
Bathrooms                            61
Bedrooms                             23
Beds                                 22
Price                                 0
Weekly Price                      12783
Monthly Price                     11886
Security Deposit                   8075
Cleaning Fee                       3474
Guests Included                       0
Extra People                          0
Minimum Nights                        0
Maximum Nights                        0
Number of Reviews                     0
First Review                          0
Last Review                           0
Reviews per Month                     0
Review Scores Rating                  0
Cancellation Policy                   0
dtype: int64

In [8]:
df['Bathrooms'].fillna(df['Bathrooms'].median(), inplace=True)
df['Bedrooms'].fillna(df['Bedrooms'].median(), inplace=True)
df['Beds'].fillna(df['Beds'].median(), inplace=True)

df['Weekly Price'].fillna(df['Price'] * 7, inplace=True)
df['Monthly Price'].fillna(df['Price'] * 30, inplace=True)
df['Security Deposit'].fillna(0, inplace=True)
df['Cleaning Fee'].fillna(0, inplace=True)

In [9]:
df.isnull().sum()

Host Since                        0
Host Listings Count               0
Host Total Listings Count         0
Calculated host listings count    0
Latitude                          0
Longitude                         0
Property Type                     0
Room Type                         0
Bed Type                          0
Accommodates                      0
Bathrooms                         0
Bedrooms                          0
Beds                              0
Price                             0
Weekly Price                      0
Monthly Price                     0
Security Deposit                  0
Cleaning Fee                      0
Guests Included                   0
Extra People                      0
Minimum Nights                    0
Maximum Nights                    0
Number of Reviews                 0
First Review                      0
Last Review                       0
Reviews per Month                 0
Review Scores Rating              0
Cancellation Policy               0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14672 entries, 0 to 19527
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Host Since                      14672 non-null  object
 1   Host Listings Count             14672 non-null  float64
 2   Host Total Listings Count       14672 non-null  float64
 3   Calculated host listings count  14672 non-null  float64
 4   Latitude                        14672 non-null  float64
 5   Longitude                       14672 non-null  float64
 6   Property Type                   14672 non-null  object
 7   Room Type                       14672 non-null  object
 8   Bed Type                        14672 non-null  object
 9   Accommodates                    14672 non-null  float64
 10  Bathrooms                       14672 non-null  float64
 11  Bedrooms                        14672 non-null  float64
 12  Beds                            14672 non-null  float64
 13  Price                           14672 non-null  float64
 14  Weekly Price                    14672 non-null  float64
 15  Monthly Price                   14672 non-null  float64
 16  Security Deposit                14672 non-null  float64
 17  Cleaning Fee                    14672 non-null  float64
 18  Guests Included                 14672 non-null  float64
 19  Extra People                    14672 non-null  float64
 20  Minimum Nights                  14672 non-null  float64
 21  Maximum Nights                  14672 non-null  float64
 22  Number of Reviews               14672 non-null  float64
 23  First Review                    14672 non-null  object
 24  Last Review                     14672 non-null  object
 25  Reviews per Month               14672 non-null  float64
 26  Review Scores Rating            14672 non-null  float64
 27  Cancellation Policy             14672 non-null  object
dtypes: float64(21), object(7)
memory usage: 3.2+ MB

In [11]:
df['Host Since'] = pd.to_datetime(df['Host Since'], infer_datetime_format=True)
df['First Review'] = pd.to_datetime(df['First Review'], infer_datetime_format=True)
df['Last Review'] = pd.to_datetime(df['Last Review'], infer_datetime_format=True)

In [12]:
df["Property Type"].value_counts()

Apartment             13785
House                   228
Loft                    204
Townhouse               143
Condominium             134
Other                    74
Bed & Breakfast          43
Timeshare                17
Guesthouse               12
Hostel                   12
Boutique hotel            6
Villa                     3
Dorm                      3
Serviced apartment        2
Vacation home             1
Lighthouse                1
Hut                       1
Bungalow                  1
Cabin                     1
Castle                    1
Name: Property Type, dtype: int64

In [13]:
property_type_group = {
"Apartment": "Unit",
"House": "Building",
"Loft": "Unit",
"Townhouse": "Building",
"Condominium": "Unit",
"Other": "Building",
"Bed & Breakfast": "Unit",
"Timeshare": "Unit",
"Guesthouse": "Building",
"Hostel": "Unit",
"Boutique hotel": "Unit",
"Dorm": "Unit",
"Villa": "Building",
"Serviced apartment": "Unit",
"Castle": "Building",
"Vacation home": "Building",
"Bungalow": "Building",
"Hut": "Building",
"Cabin": "Building",
"Lighthouse":"Building",}
df["Property Type"].replace(property_type_group.keys(), property_type_group.values(), inplace=True)
df["Property Type"].value_counts()

Unit        14206
Building      466
Name: Property Type, dtype: int64

In [14]:
df["Room Type"].value_counts()

Entire home/apt    8499
Private room       5753
Shared room         420
Name: Room Type, dtype: int64

In [15]:
print(df["Bed Type"].value_counts())
df["Bed Type"].replace(["Pull-out Sofa", "Futon", "Airbed", "Couch"], "Other", inplace=True)
df["Bed Type"].value_counts()

Real Bed         14201
Pull-out Sofa      174
Futon              157
Airbed              96
Couch               44
Name: Bed Type, dtype: int64

Real Bed    14201
Other         471
Name: Bed Type, dtype: int64

In [16]:
df['Cancellation Policy'].value_counts()
df["Cancellation Policy"].replace("super_strict_30", "strict", inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14672 entries, 0 to 19527
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Host Since                      14672 non-null  datetime64[ns]
 1   Host Listings Count             14672 non-null  float64
 2   Host Total Listings Count       14672 non-null  float64
 3   Calculated host listings count  14672 non-null  float64
 4   Latitude                        14672 non-null  float64
 5   Longitude                       14672 non-null  float64
 6   Property Type                   14672 non-null  object
 7   Room Type                       14672 non-null  object
 8   Bed Type                        14672 non-null  object
 9   Accommodates                    14672 non-null  float64
 10  Bathrooms                       14672 non-null  float64
 11  Bedrooms                        14672 non-null  float64
 12  Beds                            14672 non-null  float64
 13  Price                           14672 non-null  float64
 14  Weekly Price                    14672 non-null  float64
 15  Monthly Price                   14672 non-null  float64
 16  Security Deposit                14672 non-null  float64
 17  Cleaning Fee                    14672 non-null  float64
 18  Guests Included                 14672 non-null  float64
 19  Extra People                    14672 non-null  float64
 20  Minimum Nights                  14672 non-null  float64
 21  Maximum Nights                  14672 non-null  float64
 22  Number of Reviews               14672 non-null  float64
 23  First Review                    14672 non-null  datetime64[ns]
 24  Last Review                     14672 non-null  datetime64[ns]
 25  Reviews per Month               14672 non-null  float64
 26  Review Scores Rating            14672 non-null  float64
 27  Cancellation Policy             14672 non-null  object
dtypes: datetime64[ns](3), float64(21), object(4)
memory usage: 3.2+ MB

In [18]:
df = pd.get_dummies(df)  # to one-hot
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14672 entries, 0 to 19527
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Host Since                      14672 non-null  datetime64[ns]
 1   Host Listings Count             14672 non-null  float64
 2   Host Total Listings Count       14672 non-null  float64
 3   Calculated host listings count  14672 non-null  float64
 4   Latitude                        14672 non-null  float64
 5   Longitude                       14672 non-null  float64
 6   Accommodates                    14672 non-null  float64
 7   Bathrooms                       14672 non-null  float64
 8   Bedrooms                        14672 non-null  float64
 9   Beds                            14672 non-null  float64
 10  Price                           14672 non-null  float64
 11  Weekly Price                    14672 non-null  float64
 12  Monthly Price                   14672 non-null  float64
 13  Security Deposit                14672 non-null  float64
 14  Cleaning Fee                    14672 non-null  float64
 15  Guests Included                 14672 non-null  float64
 16  Extra People                    14672 non-null  float64
 17  Minimum Nights                  14672 non-null  float64
 18  Maximum Nights                  14672 non-null  float64
 19  Number of Reviews               14672 non-null  float64
 20  First Review                    14672 non-null  datetime64[ns]
 21  Last Review                     14672 non-null  datetime64[ns]
 22  Reviews per Month               14672 non-null  float64
 23  Review Scores Rating            14672 non-null  float64
 24  Property Type_Building          14672 non-null  uint8
 25  Property Type_Unit              14672 non-null  uint8
 26  Room Type_Entire home/apt       14672 non-null  uint8
 27  Room Type_Private room          14672 non-null  uint8
 28  Room Type_Shared room           14672 non-null  uint8
 29  Bed Type_Other                  14672 non-null  uint8
 30  Bed Type_Real Bed               14672 non-null  uint8
 31  Cancellation Policy_flexible    14672 non-null  uint8
 32  Cancellation Policy_moderate    14672 non-null  uint8
 33  Cancellation Policy_strict      14672 non-null  uint8
dtypes: datetime64[ns](3), float64(21), uint8(10)
memory usage: 2.9 MB

In [19]:
df.describe()

       Host Listings Count  Host Total Listings Count  Calculated host listings count             Latitude            Longitude         Accommodates            Bathrooms             Bedrooms                 Beds                Price         Weekly Price        Monthly Price     Security Deposit         Cleaning Fee      Guests Included         Extra People       Minimum Nights       Maximum Nights    Number of Reviews    Reviews per Month  Review Scores Rating  Property Type_Building   Property Type_Unit  Room Type_Entire home/apt  Room Type_Private room  Room Type_Shared room       Bed Type_Other    Bed Type_Real Bed  Cancellation Policy_flexible  Cancellation Policy_moderate  Cancellation Policy_strict
count            14,672.00                  14,672.00                       14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00            14,672.00             14,672.00               14,672.00            14,672.00                  14,672.00               14,672.00              14,672.00            14,672.00            14,672.00                     14,672.00                     14,672.00                   14,672.00
mean                  2.13                       2.13                            1.57                40.76               -73.97                 2.87                 1.09                 1.09                 1.53               164.26             1,138.78             4,704.48               131.16                51.14                 1.50                15.59                 3.87           147,420.42                22.07                 1.34                 92.72                    0.03                 0.97                       0.58                    0.39                   0.03                 0.03                 0.97                          0.22                          0.24                        0.54
std                  13.50                      13.50                            2.07                 0.04                 0.02                 1.73                 0.33                 0.68                 0.96               116.33               816.28             3,458.82               185.74                48.13                 1.03                24.95                13.29        17,729,051.41                33.53                 1.83                  8.70                    0.18                 0.18                       0.49                    0.49                   0.17                 0.18                 0.18                          0.41                          0.43                        0.50
min                   0.00                       0.00                            1.00                40.59               -74.08                 1.00                 0.00                 0.00                 1.00                10.00                70.00               300.00                 0.00                 0.00                 1.00                 0.00                 1.00                 1.00                 1.00                 0.01                 20.00                    0.00                 0.00                       0.00                    0.00                   0.00                 0.00                 0.00                          0.00                          0.00                        0.00
25%                   1.00                       1.00                            1.00                40.73               -73.99                 2.00                 1.00                 1.00                 1.00                90.00               615.75             2,500.00                 0.00                10.00                 1.00                 0.00                 1.00                30.00                 3.00                 0.27                 90.00                    0.00                 1.00                       0.00                    0.00                   0.00                 0.00                 1.00                          0.00                          0.00                        0.00
50%                   1.00                       1.00                            1.00                40.76               -73.98                 2.00                 1.00                 1.00                 1.00               135.00               910.00             3,750.00                 0.00                49.50                 1.00                 0.00                 2.00             1,125.00                 9.00                 0.79                 95.00                    0.00                 1.00                       1.00                    0.00                   0.00                 0.00                 1.00                          0.00                          0.00                        1.00
75%                   2.00                       2.00                            1.00                40.80               -73.95                 4.00                 1.00                 1.00                 2.00               200.00             1,400.00             5,880.00               200.00                80.00                 2.00                25.00                 3.00             1,125.00                26.00                 1.97                100.00                    0.00                 1.00                       1.00                    1.00                   0.00                 0.00                 1.00                          0.00                          0.00                        1.00
max                 855.00                     855.00                           33.00                40.90               -73.78                16.00                 5.00                 6.00                12.00               999.00             6,993.00            40,000.00               995.00               600.00                16.00               300.00             1,250.00     2,147,483,647.00               432.00               125.92                100.00                    1.00                 1.00                       1.00                    1.00                   1.00                 1.00                 1.00                          1.00                          1.00                        1.00

In [20]:
df["Host Listings Count"] = df["Host Listings Count"].astype(int)
df["Host Total Listings Count"] = df["Host Total Listings Count"].astype(int)
df["Calculated host listings count"] = df["Calculated host listings count"].astype(int)
df["Accommodates"] = df["Accommodates"].astype(int)
df["Bathrooms"] = df["Bathrooms"].astype(int)
df["Bedrooms"] = df["Bedrooms"].astype(int)
df["Beds"] = df["Beds"].astype(int)
df["Guests Included"] = df["Guests Included"].astype(int)
df["Minimum Nights"] = df["Minimum Nights"].astype(int)
df["Maximum Nights"] = df["Maximum Nights"].astype(int)
df["Number of Reviews"] = df["Number of Reviews"].astype(int)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14672 entries, 0 to 19527
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Host Since                      14672 non-null  datetime64[ns]
 1   Host Listings Count             14672 non-null  int32
 2   Host Total Listings Count       14672 non-null  int32
 3   Calculated host listings count  14672 non-null  int32
 4   Latitude                        14672 non-null  float64
 5   Longitude                       14672 non-null  float64
 6   Accommodates                    14672 non-null  int32
 7   Bathrooms                       14672 non-null  int32
 8   Bedrooms                        14672 non-null  int32
 9   Beds                            14672 non-null  int32
 10  Price                           14672 non-null  float64
 11  Weekly Price                    14672 non-null  float64
 12  Monthly Price                   14672 non-null  float64
 13  Security Deposit                14672 non-null  float64
 14  Cleaning Fee                    14672 non-null  float64
 15  Guests Included                 14672 non-null  int32
 16  Extra People                    14672 non-null  float64
 17  Minimum Nights                  14672 non-null  int32
 18  Maximum Nights                  14672 non-null  int32
 19  Number of Reviews               14672 non-null  int32
 20  First Review                    14672 non-null  datetime64[ns]
 21  Last Review                     14672 non-null  datetime64[ns]
 22  Reviews per Month               14672 non-null  float64
 23  Review Scores Rating            14672 non-null  float64
 24  Property Type_Building          14672 non-null  uint8
 25  Property Type_Unit              14672 non-null  uint8
 26  Room Type_Entire home/apt       14672 non-null  uint8
 27  Room Type_Private room          14672 non-null  uint8
 28  Room Type_Shared room           14672 non-null  uint8
 29  Bed Type_Other                  14672 non-null  uint8
 30  Bed Type_Real Bed               14672 non-null  uint8
 31  Cancellation Policy_flexible    14672 non-null  uint8
 32  Cancellation Policy_moderate    14672 non-null  uint8
 33  Cancellation Policy_strict      14672 non-null  uint8
dtypes: datetime64[ns](3), float64(10), int32(11), uint8(10)
memory usage: 2.3 MB

In [22]:
df.to_csv("cleaned_nybnb.csv", index=False)